.weatherLocationCont {
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% - 20px);
  min-width: 400px;
  padding: 25px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-box-shadow: 10px 10px 42px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 42px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 42px -12px rgba(0,0,0,0.75);
  background: rgba(0,200,0,0.1);
}

.locationCont {
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: left;
  color: #888;
}

.locationCont h1 {
  margin: 0;
}