.weatherDataCont {
  background: rgba(200,200,200,0.5);
  width: 100%;
  height: 100px;
  line-height: 100px;
  border-radius: 5px;
}

.weatherTemperatureCont {
  width: 60%;
  display: inline-block;
}

.wicon {
  color: #ffa21d;
}

.temperature {
  font-size: 35px;
  font-weight: bold;
  padding-left: 20px;
  color: #333;
}

.temperaturetype {
  font-weight: bold;
  color: #666;
}

.weatherExtraInfoCont {
  width: 40%;
  display: inline-block;
  line-height: 28px;
  text-align: left;
}

.extraInfoText {
  display: block;
  color: #0500a4;
  font-size: 18px;
  font-weight: bold;
}